

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        Id="1"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMDLdPL4BIKYeZEbmjavOplcYEtoN7qmhvhg&usqp=CAU"
        cardTitle="Marvel: strongest"
        cardDescription="Novo lançamento de filme deste ano"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        Id="2"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUywBXbwNiSqFO4c-RtJIbt-PHYzEou59xNQ&usqp=CAU"
        cardTitle="Mosters"></app-small-card>
        <app-small-card
        Id="3"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1cZCWtr1U4A6zAf7FsOXtrGmD5a63RqHiLQ&usqp=CAU"
        cardTitle="Heros in flames"></app-small-card>
        <app-small-card
        Id="4"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoLsCEwGQbjT40yGAEKVjU9Z1QermUd7muCQ&usqp=CAU"
        cardTitle="New world comes"></app-small-card>
    </div>
</div>